# COMBINED .env.example
# copy to .env in the root of you project 
# change values for your environment

# SERVER ENV

#CLIENT ORIGIN FOR CORS
CLIENT_ORIGIN=http://your_host_ip:3000

# MongoDB connection string
MONGO_URI=mongodb://mongo:27017/airo11y

# Redis connection URL
REDIS_URL=redis://redis:6379

# JWT configuration
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=15m

# Application environment
NODE_ENV=development

# CLIENT ENV - replace your_host_ip 
VITE_BACKEND_URL=http://your_host_ip:5050


